<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="pathToApplication" value="RPoB.exe" />
    <add key="pathToOut" value="out.txt" />
    <add key="sleepTime" value="30" />
    <add key="login" value="***" />
    <add key="password" value="***" />
    <add key="appId" value="***" />
    <add key="ownerId" value="***" />
  </appSettings>
</configuration>