<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="pathToLibrary" value="Library" />
    <add key="pathToOut" value="out.txt" />
    <add key="pathToLog" value="log.txt" />
    <add key="randomSize" value="10" />
  </appSettings>
</configuration>